<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Name{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dyslexia_friendly.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    
    {% block extra_css %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen">
    <header>
        <!-- Add your header content here -->
    </header>

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-white">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <p class="text-center text-sm text-gray-500">
                Made with <span class="text-blue-500 pulse-animation inline-block">♥</span> by IreAV
                <br>© <span id="current-year"></span> IreAV. All rights reserved.
            </p>
        </div>
    </footer>

    <style>
        @keyframes pulse {
            0%, 100% { transform: scale(1); }
            50% { transform: scale(1.25); }
        }
        .pulse-animation {
            animation: pulse 2s infinite;
        }
    </style>

    {% block extra_js %}
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

    {% endblock %}
</body>
</html>